/* 全体背景 */
body {
    background: linear-gradient(to bottom right, #8ec8e3, #e0f7fa);
    font-family: 'Comic Sans MS', 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* フォームコンテナ */
form {
    background-color: #ffffffcc;
    width: 400px;
    padding: 30px;
    /* 破線 */
    border: 5px dotted #467e96; 
    /* 丸み大きめ */
    border-radius: 30px; 
    text-align: center;
}

/* 見出し */
h1 {
    color: #23b4b4;
    font-size: 2.5em;
    margin-bottom: 15px;
}

/* ラベル */
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #745959;
}

/* 入力フィールド */
input {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #86cae7;
    border-radius: 15px;
    outline: none;
}

/* ボタン */
button {
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    background-color: #24bcd1;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* ボタンホバー */
button:hover {
    background-color: #2abfcf;
    transform: scale(1.05);
}
/* 著作権表記 */
.copyright {
    font-size: 12px;
    color: rgb(208, 186, 186);
    margin-top: 20px;
    text-align: center;
}
