<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>ブログ記事一覧</title>
	<link rel="stylesheet" th:href="@{/css/blog-style.css}">
	<link rel="stylesheet" th:href="@{/css/nav-style.css}">
</head>

<body>
	<header>
		<div class="header-container">
			<div class="menu-left">LeaRyuu</div>
			<nav class="menu-right">
				<a href="home.html">Home</a>
				<a href="blog-register.html">投稿する</a>
				<a th:href="@{/blog/list}">一覧表示</a>
				<a href="register.html">Logout</a>
			</nav>
		</div>
	</header>

	<main>
		<h1>ブログ記事一覧</h1>
		<div th:each="blog : ${blogs}" class="blog-item">
			<img th:src="@{/images/{img}(img=${blog.blogImage})}" alt="画像" class="item-image">
			<h2 th:text="${blog.blogTitle}">サンプル記事</h2>
			<p><strong>カテゴリ：</strong><span th:text="${blog.categoryName}">サンプルカテゴリ</span></p>
			<p><strong>本文：</strong><span th:text="${blog.article}">ここに記事の内容が表示されます。</span></p>
			<div class="form-buttons">
				<button type="button" onclick="location.href='blog-edit.html'">編集する</button>
			</div>
		</div>

	</main>


	<p class="copyright">LeaRyuu&copy; 2025</p>
</body>

</html>