<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
  <link rel="stylesheet" href="/css/welcome-style.css">
  <link rel="stylesheet" href="/css/nav-style.css">
</head>
<body>
  <header>
    <div class="header-container">
      <div class="menu-left">LeaRyuu</div>
      <nav class="menu-right">
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/blog/register}">投稿する</a>
        <a th:href="@{/blog/list}">一覧表示</a>
        <a th:href="@{/logout}">Logout</a>
      </nav>
    </div>
  </header>

  <div class="welcome-container">
	<h1 th:text="'Hi, ' + ${loginAccountInfo.accountName} + '!'">Hi, LeaRyuu!</h1>
    <p>Welcome!</p>
    <button class="logout" th:onclick="|location.href='@{/logout}'|">
      Logout
    </button>
  </div>
</body>
</html>
