header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffffcc;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* コンテンツ幅制御用 */
header .header-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 左側（LeaRyuuロゴ） */
.menu-left {
    font-weight: bold;
    font-size:  30px;
    color: #e684b0;
}

/* 右側（メニューリンク） */
.menu-right a {
    margin: 0 15px;
    text-decoration: none;
    color: #eb89b5;
    font-weight: bold;
    font-size: 25px;
}

.menu-right a:hover {
    color: #2196f3;
}

/* ページ内容の上余白 */
body {
    padding-top: 90px;
}
