<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="/css/login-style.css">
</head>

<body>
	<form th:action="@{/login/process}" method="post">
		<h1>WELCOME</h1>
		<label for="email">Email：</label>
		<input type="email" id="email" name="email" required><br><br>

		<label for="password">Password：</label>
		<input type="password" id="password" name="password" required><br><br>

		<button type="submit">Login</button><br>
		<a th:href="@{/register}"><button type="button">新規登録</button></a>
		<p class="copyright">LeaRyuu&copy; 2025</p>
	</form>
	<p th:text="${error}" style="color:red;"></p>
</body>

</html>